		<footer id="footer" role="contentinfo">
			
			<p>
				Copyright © <a href="#">hxy</a> 2013-14.
				<br>
				All rights reserved.
			</p>
			
		</footer>
		
	</div> <!-- /.container -->
	
	<!-- @if NODE_ENV == 'DEVELOPMENT' -->
	
	<script src="./scripts/fastclick.js"></script>
	<script src="./scripts/jquery.js"></script>
	<script src="./scripts/jquery.harmonia.js"></script>
	<script src="./scripts/imagesloaded.pkgd.js"></script>
	<script src="./scripts/packery.pkgd.js"></script>
	<script src="./scripts/packery.overrides.js"></script>
	<script src="./scripts/pp.js"></script>
	<script src="./scripts/pp.mod.fastclick.js"></script>
	<script src="./scripts/pp.mod.harmonia.js"></script>
	<script src="./scripts/pp.mod.packery.js"></script>
	<script src="./scripts/pp.init.js"></script>
	
	<!-- @endif -->
	
	<!-- @if NODE_ENV == 'PRODUCTION' -->
	
	<script src="<!-- @echo production -->/<!-- @echo version -->/<!-- @echo now -->/<!-- @echo ver -->/scripts/<!-- @echo name -->.min.js"></script>
	
	<!-- @endif -->
	
</body>
</html>
